.btn-container {
  padding-top: 160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  // border-radius: 154px;
  // flex-direction:column;

  .category-button {
    border: 2px solid currentColor;
    border-radius: 3rem;
    color: #cd9042;
    // font-family: ;
    font-size: 4rem;
    font-weight: 100;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;

    
    &::after {
      background-color: #14332e;
      border-radius: 3rem;
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-100%, 0) rotate(10deg);
      transform-origin: top left;
      transition: 0.2s transform ease-out;
      will-change: transform;
      z-index: -1;
    }
    
    &:hover::after {
      transform: translate(0, 0);
    }
    &:hover {
      border: 2px solid transparent;
      color: #cd9042;
      transform: scale(1.05);
      will-change: transform;
    }
    
  }
}
