.header {
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#14332e;
  position: sticky;
  top: 0;
  z-index: 100;

  .header_logo {
    width: 160px;
    height: 150px;
    object-fit: contain;
    margin-top: 5px;
  }

  .header_searchForm {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-left: 2em;
    width: 200px;
    flex:1;
    .header_searchInput {
      height: 52px;
      padding: 10px;

      border-radius: 154px;
      // border-color: #e1533c;
    }

    .header_searchIcon {
      padding: 10px;
      height: 52px;
      width: 52px;
      // color: #e1533c;
      // background-color: white;
      // border: #e1533c solid 3px;
      background-color: #cd9042;
      // border: none;
      border-radius: 154px;
      border-radius: 154px;
    }
  }

  .header-right {
    display: flex;
    flex:1;
    justify-content:flex-end;
    margin-right: 2em;
    .header-right-button {
      margin-left: 20px;
    }

    .header_login {
      display: flex;
      align-items: center;
      // color: #e1533c;
      color: white;

      .header-right-font {
        font-size: xx-large;
        font-weight: 600;
        // color: #e1533c;
      }
    }
  }
}
