.service-shell{
  display: flex;
 align-items: center;
  justify-content: space-between;
}

.product-shell{
  display: flex;
 align-items: center;
 justify-content:center;
  // justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-end; */
  margin: 10px;
  padding: 20px;
  width: 70%;
  /* max-height: 400px; */
  /* min-width: 100px; */
  background-color: white;
  z-index: 1;
}

.product > img {
  max-height: 500px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 15px;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.product__rating{
  display: flex;
  flex-direction: row;
}
.product__button {
  margin: 15px;
}

.product__text {
  margin: 15px;
  /* how to make it wrap as the width of pic? */
  width: 500px;
}