* {
  margin: 0;
  font-family: "Baloo 2", cursive;
}

body {
  background-color: #e1533c;
  // color: #e1533c;
  // color: #ece7dd;
  // color: #232323;
  // color: #dbc6ab;
  margin: 0;
  font-family: "Baloo 2", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: #ece7dd;
}
