* {
  margin: 0;
  font-family: "Baloo 2", cursive;
}

body {
  background-image: url('./assets/images/backgroundImage.jpg');
  background-repeat: no-repeat;
  background-color: #ece7dd;
  background-size: cover;
  // color: #e1533c;
  // color: #ece7dd;
  // color: #232323;
  // color: #dbc6ab;
  margin: 0;
  font-family: "Baloo 2", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  // background-color: #ece7dd;
  // background-image: url('./assets/images/backgroundImage.jpg');
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // position: fixed; 
  // top: 0; 
  // left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
